@model IPageViewModel<BlogArchivePage>

@{
    // var blogPages = Model.BlogSinglePages
    //     .Select(blogPage => _contentLoader.Get<BlogSinglePage>(blogPage))
    //     .Where(blogPage => blogPage != null)
    //     .OrderByDescending(blogPage => blogPage.BlogSingleDate)
    //     .ToList();

    // var blogPages = Model.CurrentPage.BlogSinglePages
    //     .Select(blogPage =>
    //     {
    //         var page = _contentLoader.Get<BlogSinglePage>(blogPage);
    //         if (page != null)
    //         {
    //             // Populate the comments from Dynamic Data Store
    //             var allComments = _commentRepository.GetAllComments();

    //             // Get comments for the current blog page
    //             var blogComments = allComments.Where(m => m.BlogId == page.ContentLink.ID).ToList();

    //             // Return an anonymous type with the blog page and comment count
    //             return new
    //             {
    //                 BlogPage = page,
    //                 CommentCount = blogComments.Count
    //             };
    //         }
    //         return null;
    //     })
    //     .Where(item => item != null) // Filter out null items
    //     .OrderByDescending(item => item.BlogPage.BlogSingleDate)
    //     .ToList();

    // var BlogArchive = new ContentReference(120);

    // // Fetch the children of the specified page (BlogArchivePage)
    // var childPages = _contentLoader.GetChildren<PageData>(BlogArchive);

    // foreach(var blogPage in childPages)
    // {
    //     var page = _contentLoader.Get<BlogSinglePage>(blogPage.ContentLink);

    //     Console.WriteLine(page);
    // }    

    // var childPages2 = _contentLoader.GetChildren<PageData>(BlogArchive)
    // .Select(blogPage => _contentLoader.Get<BlogSinglePage>(blogPage.ContentLink))
    // .Where(page => page != null) // Ensure the page is not null
    // .OrderByDescending(page => page.BlogSingleDate) // Sort by BlogSingleDate in descending order
    // .ToList();


    // Console.WriteLine(childPages);
    // Console.WriteLine(childPages2);

}

<!-- Start Property header  -->
<section id="aa-property-header" style="background-image:url(@Url.ContentUrl(Model.CurrentPage.MainSectionImageUrl))">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>@Model.CurrentPage.MetaTitle</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">@Model.CurrentPage.MetaTitle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Property header  -->
<!-- Start Blog -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="aa-blog-content">
                                <div class="row">
                                    @if (Model.CurrentPage.BlogPageWithComments != null && Model.CurrentPage.BlogPageWithComments.Count() > 0)
                                    {
                                        @foreach (var blogSinglePage in Model.CurrentPage.BlogPageWithComments)
                                        {
                                            <div class="col-md-6 col-sm-6">
                                                <article class="aa-blog-single">
                                                    <figure class="aa-blog-img">
                                                        <a href="@Url.ContentUrl(blogSinglePage.BlogPage.ContentLink)"><img alt="img" src="@Url.ContentUrl(blogSinglePage.BlogPage.BlogSingleImage)"></a>
                                                        <span class="aa-date-tag">@blogSinglePage.BlogPage.BlogSingleDate.ToString("dd MMMM, yy")</span>
                                                    </figure>
                                                    <div class="aa-blog-single-content">
                                                        <h3><a href="@Url.ContentUrl(blogSinglePage.BlogPage.ContentLink)">@blogSinglePage.BlogPage.BlogSingleTitle</a></h3>
                                                        @Html.PropertyFor(m => blogSinglePage.BlogPage.BlogSingleDescription)
                                                        <div class="aa-blog-single-bottom">
                                                            <a class="aa-blog-author" href="@Url.ContentUrl(blogSinglePage.BlogPage.ContentLink)"><i class="fa fa-user"></i>@blogSinglePage.BlogPage.BlogSingleAuthor</a>
                                                            <a class="aa-blog-comments" href="@Url.ContentUrl(blogSinglePage.BlogPage.ContentLink)"><i class="fa fa-comment-o"></i>@blogSinglePage.CommentCount</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="aa-properties-content-bottom">
                                            <nav>
                                                <ul class="pagination">
                                                    <li>
                                                        <a aria-label="Previous" href="#">
                                                            <span aria-hidden="true">«</span>
                                                        </a>
                                                    </li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li class="active"><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li>
                                                        <a aria-label="Next" href="#">
                                                            <span aria-hidden="true">»</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Start blog sidebar -->
                        <div class="col-md-4">
                            <aside class="aa-blog-sidebar">
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <form action="">
                                        <div class="aa-blog-search">
                                            <input class="aa-search-text" type="text" placeholder="Search...">
                                            <button class="aa-search-submit" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <h3>Categories</h3>
                                    <ul class="aa-blog-catg">
                                        <li>Properties <span>15000</span></li>
                                        <li>Apartment <span>5000</span></li>
                                        <li>Office  <span>3000</span></li>
                                        <li>Residential <span>4500</span></li>
                                        <li>
                                            Commercial <span>1000</span>
                                            <ul>
                                                <li>category 2.1 <span>50</span></li>
                                                <li>category 2.2 <span>100</span></li>
                                            </ul>
                                        </li>
                                        <li>Villa <span>800</span></li>
                                        <li>Bungalow  <span>200</span></li>
                                        <li>News <span>375</span></li>
                                        <li>Reviews <span>458</span></li>
                                    </ul>
                                </div>
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <h3>Tags</h3>
                                    <div class="tag-cloud">
                                        <a href="#">Apartment</a>
                                        <a href="#">Propery</a>
                                        <a href="#">Residential</a>
                                        <a href="#">Commercial</a>
                                        <a href="#">Office</a>
                                        <a href="#">Rent</a>
                                        <a href="#">Sale</a>
                                        <a href="#">Villa</a>
                                    </div>
                                </div>
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <h3>Recent Post</h3>
                                    <div class="aa-blog-recent-post">

                                        @if (Model.CurrentPage.BlogPageWithComments != null || Model.CurrentPage.BlogPageWithComments.Count() > 0)
                                        {
                                            foreach (var recent in Model.CurrentPage.BlogPageWithComments)
                                            {
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img alt="img" src="@Url.ContentUrl(recent.BlogPage.BlogSingleImage)" class="media-object">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="@Url.ContentUrl(recent.BlogPage.ContentLink)">@recent.BlogPage.BlogSingleTitle</a></h4>
                                                        @Html.PropertyFor(m => recent.BlogPage.BlogSingleDescription)
                                                        <span>@recent.BlogPage.BlogSingleDate.ToString("dd MMMM, yy")</span>
                                                    </div>
                                                </div>
                                            }




                                        }




                                    </div>
                                </div>
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <div class="aa-banner-ads">
                                        <a href="#">
                                            <img src="img/banner-ads.jpg" alt="banner img">
                                        </a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->