@model IPageViewModel<SitePageData>

<!-- Footer -->
<footer id="aa-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-footer-area">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-left">
                                <p>Designed by <a rel="nofollow" href="@Url.ContentUrl(Model.Layout.FooterSection.FooterLink)">@Model.Layout.FooterSection?.FooterTitle</a></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-middle">

                                @if (Model.Layout.FooterSection?.FacebookLink != null)
                                {
                                    <a href="@Model.Layout.FooterSection?.FacebookLink"><i class="fa fa-facebook"></i></a>
                                }
                                @if (Model.Layout.FooterSection?.TwitterLink != null)
                                {
                                    <a href="@Model.Layout.FooterSection?.TwitterLink"><i class="fa fa-twitter"></i></a>
                                }
                                @if (Model.Layout.FooterSection?.GooglePlusLink != null)
                                {
                                    <a href="@Model.Layout.FooterSection?.GooglePlusLink"><i class="fa fa-google-plus"></i></a>
                                }
                                @if (Model.Layout.FooterSection?.YoutubeLink != null)
                                {
                                    <a href="@Model.Layout.FooterSection?.YoutubeLink"><i class="fa fa-youtube"></i></a>
                                }

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="aa-footer-right">
                                @if(Model.Layout.FooterNavigation != null){
                                    @foreach (var footerNav in Model.Layout.FooterNavigation)
                                    {
                                        <a href="@Url.ContentUrl(footerNav.Href)" target="@footerNav.Target">@footerNav.Text</a>
                                    }
                                }
                                @* <a href="#">Home</a>
                                <a href="#">Support</a>
                                <a href="#">License</a>
                                <a href="#">FAQ</a>
                                <a href="#">Privacy & Term</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / Footer -->