@using EPiServer.Web.Routing
@inject UrlResolver UrlResolver
@model IPageViewModel<SitePageData>

<!-- Start header section -->
<header id="aa-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-area">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-left">
                                <div class="aa-telephone-no">
                                    <span class="fa fa-phone"></span>
                                    @Model.Layout.ContactNumber
                                </div>
                                <div class="aa-email hidden-xs">
                                    <span class="fa fa-envelope-o"></span> @Model.Layout.ContactEmail
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-right">
                                <a href="register.html" class="aa-register">Register</a>
                                <a href="signin.html" class="aa-login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- LOGO -->
                <!-- Text based logo -->
                @* <a class="navbar-brand aa-logo" href="index.html"> Home <span>Property</span></a> *@
                <!-- Image based logo -->
                <a class="navbar-brand aa-logo-img" href="@Url.ContentUrl(Model.Layout.LogoLink?.Href)"><img src="@Url.ContentUrl(Model.Layout.LogoUrl)" alt="logo"></a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">


                <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
                    @foreach (var headerMenu in Model.Layout.Navigation)
                    {
                        // Resolve URL for the main navigation item
                        var resolvedUrl = UrlResolver.Current.GetUrl(headerMenu.NavigationItem.Href);

                        @if (headerMenu.SubMenuItems != null && headerMenu.SubMenuItems.Any())
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="@resolvedUrl">@headerMenu.NavigationItem.Text <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    @foreach (var subMenu in headerMenu.SubMenuItems)
                                    {
                                        // Resolve URL for the submenu item
                                        var subMenuUrl = UrlResolver.Current.GetUrl(subMenu.Href);
                                        <li><a href="@subMenuUrl">@subMenu.Text</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="@resolvedUrl">@headerMenu.NavigationItem.Text</a></li>
                        }
                    }
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- End menu section -->